<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huni.ch11_jetpack_library">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_doit_kotlin_sample">

        <!-- up 버튼 정의 : parentActivityName -->
<!--        android:parentActivityName=".MainActivity"-->
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:theme="@style/Theme.TestTheme1"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>